*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
    background-color: #0A0403;
   position: fixed;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'Montserrate';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "moul";
    src: url(../fontes/Moul-Regular.ttf);
}

#cabecalho{
    
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

#header_inovaworks{
    color: white;
    font-size: 1.5vw;
    font-family: 'moul';
    
}

#header_links{

width: 30%;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 1vw;

}

#header_button{
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrate';
}

button:hover{
    cursor: pointer;
}


.imagem_teste{
    display: inline;
    color: white;
margin-top: -0,6vw;
width: 15%;
margin-left: 10%;


}

#nome_user{
    font-size: 1vw;
    color: white;
    }
    
    #header_user{
        display: flex;
        margin-right: 3vw;
        }
        
        #img_user{
        display: inline;
        color: white;
        margin-top: -0.6vw;
        margin-right: 0.3vw;
        width: 3vw;
        height: 3vw;
        border-radius: 2vw;
        }
    
    #link_user{
    color:white;
    }
    
    #header_config{    
    }
    
    #imagem{
    height: 1.5vw;
    width: 1.5vw;
    }
a{
display: flex;
text-decoration: none;
}



#testea{
    height: 20%;
    width: 25%;
   
}

#testeb{
  height: 20%;
  width: 25%;
  margin-left: 8vw;
 
}
#corpo{
    height: 100%;
    width: 100%;
    display: flex;

    
 
}



#barra_lateral{
   
    display: flex;
    flex-direction: column;
    width: 15%;
   

}

#button_cargo{
    font-size: 2vw;
    background-color: transparent;
    margin-bottom: 2vw;
    margin-top: 10%;
    color: white;
}

#button_funcionario{
    font-size: 2vw;
    background-color: transparent;
    margin-bottom: 2vw;
    color: white;


}

#button_fornecedor{
    font-size: 2vw;
    background-color: transparent;
    margin-bottom: 2vw;
    color: white;

}


.hover-bar {
    position: relative;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s; 
}

.hover-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white; 
    transition: width 0.3s ease-in-out; 
}

.hover-bar:hover::after {
    width: 100%; 
}

.hover-bar:hover {
    color: #ffebcd; 
}


.custom-hr {
    width: 0; 
    height: 100%; 
    border: none;
    border-left: 2px solid rgb(252, 252, 252); 
    margin: 0; 
    position: fixed;
    left: 15%;
  }


    #cabeca_connteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 12.5%;
    }


img{
    background-color: transparent;
}


    #pesq{
      
        display: flex;
        height: 100%;
        
   
    }   

    #pesquisa_lupa{
        background-color: transparent;
        display: flex;
        height: 50%;
        rotate: -60deg ;
    }

    
    #input_pesquisa_conteudo{
        
        padding: 0.7vw;
        border-radius:0.4vw ;
        background: rgba(76, 76, 76, 1);
        color:white;
        height: 10%;
        width: 60%;
        border: 0.1vw solid  rgba(176, 173, 173, 1);
        font-family: 'maun';
        display: flex;
    
}



#pesquisa {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width: 100%; 
    height: 100%; 
}

/* #btn_pesq{
    background: rgba(218, 66, 0, 1);
    border-radius: 0.5vw;
    padding: 0.6vw;
    border: none;
    font-size: 1vw;
    display: flex;

} */

#div_btn_pesq{
display: flex;
}


#conteudo{
    width: 85%;
    }

#corpo_conteudo{
    width: 100%;
    height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
 
}

#div_cadastro{
    width: 70%;
    height: 100%;
    border-radius: 2vw;
    background-color: white
}

#input_cargo_nome{
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
}

#input_cargo_salario{
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
}

#button_cadastro{
    background: rgba(218, 66, 0, 1);
    border-radius: 0.5vw;
    padding: 0.6vw;
    border: none;
    font-size: 1vw;
   
}

#button_visualizar{
    background: rgba(218, 66, 0, 1);
    border-radius: 0.5vw;
    padding: 0.6vw;
    border: none;
    font-size: 1vw;
    margin-left: 1vw;
    
}

#div_header{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    
    background-color:rgba(218, 66, 0, 1);
    border-top-left-radius: 2vw; 
    border-top-right-radius: 2vw;
    margin-bottom: 1vw;
    
    }

#texto_header{
    font-size: 2vw;
    margin-left: 1vw;
    }

#texto_header_barra{
    width: 100%;
    height: 0.15vw;
    background-color: #0A0403;
}

#div0{
height: 73%;
width: 100%;
display: flex;
}

#div1{
height: 100%;
width: 20%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;

/* background-color: #007bff; */
}

#div2{
height: 100%;
width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;

/* background-color: #0A0403; */
}

#div3{
height: 50%;
width: 30%;
display: flex;
justify-content: space-around;

flex-direction: column;

}

#input1{


}

#input2{

}

#input3{

}

#input4{

}

#input5{

}

#input6{
    display: none;
   
}

#diva{
    display: flex;
    height: 10%;
    width: 10%;
}

#divb{
    display: flex;
    height: 10%;
    width: 10%;
}

#divc{
    display: flex;
    height: 10%;
    width: 10%;
}

#divd{
    display: flex;
    height: 10%;
    width: 10%;
}

#dive{
    display: flex;
    height: 10%;
    width: 100%;
}

#h11{

}

#h12{

}

#h13{

}

#h14{

}

#h15{
    
}


#primeiraDiv{
    width: 46%;
    display: flex;
    padding: 0.5vw;
    margin-top: -1%;
}

#segundaDiv{
    width: 46%;
    display: flex;
    padding: 0.5vw;
    margin-top: -1%;


}

#terceiraDiv{
    width: 46%;
    display: flex;
    padding: 0.5vw;
    margin-top: -1%;


}

#quartaDiv{
    width: 46%;
    display: flex;
    padding: 0.5vw;
    margin-top: -2%;

}

#quintaDiv{
    width: 53%;
    height: 78%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 47%;
    margin-top: -45.7%;
}

#sextaDiv{
margin-top: -10%;
width: 50%;
margin-left: 0.5vw;
}

#div_nome {
   
}

#input_nome {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
}

#h1_nome {
font-size: 1.5vw;
    
}

#div_cargo {

}

#input_cargo {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
    width: 186%;
}

#h1_cargo {
font-size: 1.5vw;
}

#div_rg {

}

#input_rg {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
}

#h1_rg {
font-size: 1.5vw;
}

#div_cpf {
  
}

#input_cpf {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
}

#h1_cpf {
    font-size: 1.5vw;

}

#div_data {
   
}

#input_data {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
    width: 92%;
}

#h1_data {
font-size: 1.5vw;

}

#div_telefone {
    
}

#input_telefone {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
    
}

#h1_telefone {
font-size: 1.5vw;
}

#div_email {
    
}

#input_email {
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
    
}

#h1_email {
    font-size: 1.5vw;
}



#div_foto {
    
}

#input_foto{
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
    width: 92%;
}

#h1_foto{
    font-size: 1.5vw;
}


#img_preview{
   width: 21%;
   height: 23%;
   border-radius: 80%;
}

#button_exibir{
    background: rgba(218, 66, 0, 1);
    border-radius: 0.5vw;
    padding: 0.6vw;
    border: none;
    font-size: 1vw;
    margin-left: 1vw;
}

#button_cadastrar{
    background: rgba(218, 66, 0, 1);
    border-radius: 0.5vw;
    padding: 0.6vw;
    border: none;
    font-size: 1vw;
    margin-left: 1vw;
}

#h1_senha{
    font-size: 1.5vw; 
}

#input_senha{
    border-radius: 0.5vw;
    border: 0.15vw solid black;
    font-size: 1vw;
    padding: 0.3vw;
    background-color: #E7E7E7;
    margin: 0 1vw 2vw 0;
  
}